.article-content {
    max-width: 700px;
    min-width: 300px;
    margin: 100px auto;
    text-align: center;
}

.article-content h1 {
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.article-content h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.article-content p {
    font-size: 30px;
    color: rgb(78, 78, 78);
}